<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Dino's | 403 Forbidden</title>
    <link rel="stylesheet" href="../../../public/styles/bootstrap/bootstrap.min.css">
    <style>
        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f8f9fa;
        }

        .error-container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h2 class="">Dino's</h2>
        <h1 class="display-1">403</h1>
        <p class="lead">Forbidden</p>
        <p>Access to this resource is denied.</p>
        <a class="btn btn-primary" href="../dashboard/admin_dashboard.php">Go Dashboard</a>
    </div>
</body>
</html>
